{{define "View-User"}}
    {{template "headers"}}
    {{template "sidebars"}}
    <div class="row">
        <div class="col-sm-12" style="float: left">
                <span class="navigation-bar">
                    <a href="/admin/user/list" class="fa fa-user"></a>
                </span>
            <span class="navigation-bar">
                    <a href="/admin/user/download" class="fa fa-download"></a>
                </span>
            </span>
            <span class="navigation-bar">
                    <a href="/admin/user/upload" class="fa fa-upload"></a>
                </span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr class="line-navigation"
                style="border-top: 1px solid silver; border-bottom: 1px solid wh; width:100%; margin-top:0">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-12"
             style=";display: flex; justify-content: center; padding-top: 15px;padding-bottom: 15px; background: whitesmoke;">
            <img alt="{{.ResponseImage.NameImage}}" class="img-rounded"
                 src="/static/images/{{.ResponseImage.NameImage}}" style="width: 300px; ">
        </div>
        <div class="col-md-4 col-sm-12" style="padding-top: 15px; padding-bottom: 15px; background: ghostwhite;
        display: flex;justify-content: center;">

            <div class="font-weight-light left">
                <table>
                    <tr>
                        <td>username :</td>
                        <td>{{.Response.Username}}</td>
                    </tr>
                    <tr>
                        <td>firstname :</td>
                        <td>{{.Response.Username}}</td>
                    </tr>
                    <tr>
                        <td>lastname :</td>
                        <td>{{.Response.Lastname}}</td>
                    </tr>
                    <tr>
                        <td>address :</td>
                        <td>{{.Response.Address}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-4" style="background: ghostwhite;">
        </div>
    </div>
    {{template "footers"}}
{{end}}


