{{define "Header-Brand"}}
    <div class="container-fluid">
        <div id="wrapper-header-brand" class="row">

            <div class="col-md-3" id="logo-brand">
                <a href="/">GO SPACE</a>
            </div>
            <div class="col-md-1" id="">
            </div>
            <div class="col-md-1" id="">
            </div>
            <div class="col-md-1" id="">
            </div>
            <div class="col-md-1" id="">
            </div>
            <div class="col-md-1" id="">
            </div>
            <div class="col-md-3" id="">
            </div>
            <div class="col-md-1" id="navigation-user">
                admin&nbsp;
                <span class="fa fa-user"></span>
            </div>
        </div>
    </div>
{{end}}
