{{define "layouts"}}
    {{template "headers"}}
    {{template "sidebars"}}

                <h2>Dashboard</h2>
                <hr>
                <div class="row">
                    <div class="form-group col-md-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-4"
                                 style="background-color: #ff4136;">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Dapibus ultrices in iaculis nunc sed augue
                                lacus. Quam nulla porttitor massa id neque aliquam. Ultrices mi tempus imperdiet nulla
                                malesuada. Eros in cursus turpis massa tincidunt dui ut ornare lectus. Egestas sed sed
                                risus pretium. Lorem dolor sed viverra ipsum. Gravida rutrum quisque non tellus. Rutrum
                                tellus pellentesque eu tincidunt tortor. Sed blandit libero volutpat sed cras ornare. Et
                                netus et malesuada fames ac. Ultrices eros in cursus turpis massa tincidunt dui ut
                                ornare. Lacus sed viverra tellus in. Sollicitudin ac orci phasellus egestas. Purus in
                                mollis nunc sed. Sollicitudin ac orci phasellus egestas tellus rutrum tellus
                                pellentesque. Interdum consectetur libero id faucibus nisl tincidunt eget.
                                <br>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-8"
                                 style="background-color: #f06e57;">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Dapibus ultrices in iaculis nunc sed augue
                                lacus. Quam nulla porttitor massa id neque aliquam. Ultrices mi tempus imperdiet nulla
                                malesuada. Eros in cursus turpis massa tincidunt dui ut ornare lectus. Egestas sed sed
                                risus pretium. Lorem dolor sed viverra ipsum. Gravida rutrum quisque non tellus. Rutrum
                                tellus pellentesque eu tincidunt tortor. Sed blandit libero volutpat sed cras ornare. Et
                                netus et malesuada fames ac. Ultrices eros in cursus turpis massa tincidunt dui ut
                                ornare. Lacus sed viverra tellus in. Sollicitudin ac orci phasellus egestas. Purus in
                                mollis nunc sed. Sollicitudin ac orci phasellus egestas tellus rutrum tellus
                                pellentesque. Interdum consectetur libero id faucibus nisl tincidunt eget.
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3"
                                 style="background-color: #1b6d85;">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Dapibus ultrices in iaculis nunc sed augue
                                lacus. Quam nulla porttitor massa id neque aliquam. Ultrices mi tempus imperdiet nulla
                                malesuada. Eros in cursus turpis massa tincidunt dui ut ornare lectus. Egestas sed sed
                                risus pretium. Lorem dolor sed viverra ipsum. Gravida rutrum quisque non tellus. Rutrum
                                tellus pellentesque eu tincidunt tortor. Sed blandit libero volutpat sed cras ornare. Et
                                netus et malesuada fames ac. Ultrices eros in cursus turpis massa tincidunt dui ut
                                ornare. Lacus sed viverra tellus in. Sollicitudin ac orci phasellus egestas. Purus in
                                mollis nunc sed. Sollicitudin ac orci phasellus egestas tellus rutrum tellus
                                pellentesque. Interdum consectetur libero id faucibus nisl tincidunt eget.
                                <br>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3"
                                 style="background-color:#0c5460;">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Dapibus ultrices in iaculis nunc sed augue
                                lacus. Quam nulla porttitor massa id neque aliquam. Ultrices mi tempus imperdiet nulla
                                malesuada. Eros in cursus turpis massa tincidunt dui ut ornare lectus. Egestas sed sed
                                risus pretium. Lorem dolor sed viverra ipsum. Gravida rutrum quisque non tellus. Rutrum
                                tellus pellentesque eu tincidunt tortor. Sed blandit libero volutpat sed cras ornare. Et
                                netus et malesuada fames ac. Ultrices eros in cursus turpis massa tincidunt dui ut
                                ornare. Lacus sed viverra tellus in. Sollicitudin ac orci phasellus egestas. Purus in
                                mollis nunc sed. Sollicitudin ac orci phasellus egestas tellus rutrum tellus
                                pellentesque. Interdum consectetur libero id faucibus nisl tincidunt eget.
                                <br>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3"
                                 style="background-color: #5a9ed8;">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Dapibus ultrices in iaculis nunc sed augue
                                lacus. Quam nulla porttitor massa id neque aliquam. Ultrices mi tempus imperdiet nulla
                                malesuada. Eros in cursus turpis massa tincidunt dui ut ornare lectus. Egestas sed sed
                                risus pretium. Lorem dolor sed viverra ipsum. Gravida rutrum quisque non tellus. Rutrum
                                tellus pellentesque eu tincidunt tortor. Sed blandit libero volutpat sed cras ornare. Et
                                netus et malesuada fames ac. Ultrices eros in cursus turpis massa tincidunt dui ut
                                ornare. Lacus sed viverra tellus in. Sollicitudin ac orci phasellus egestas. Purus in
                                mollis nunc sed. Sollicitudin ac orci phasellus egestas tellus rutrum tellus
                                pellentesque. Interdum consectetur libero id faucibus nisl tincidunt eget.
                                <br>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3"
                                 style="background-color: #005cbf;">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Dapibus ultrices in iaculis nunc sed augue
                                lacus. Quam nulla porttitor massa id neque aliquam. Ultrices mi tempus imperdiet nulla
                                malesuada. Eros in cursus turpis massa tincidunt dui ut ornare lectus. Egestas sed sed
                                risus pretium. Lorem dolor sed viverra ipsum. Gravida rutrum quisque non tellus. Rutrum
                                tellus pellentesque eu tincidunt tortor. Sed blandit libero volutpat sed cras ornare. Et
                                netus et malesuada fames ac. Ultrices eros in cursus turpis massa tincidunt dui ut
                                ornare. Lacus sed viverra tellus in. Sollicitudin ac orci phasellus egestas. Purus in
                                mollis nunc sed. Sollicitudin ac orci phasellus egestas tellus rutrum tellus
                                pellentesque. Interdum consectetur libero id faucibus nisl tincidunt eget.
                                <br>
                            </div>
                        </div>
                    </div>
                </div>

{{template "footers"}}
{{end}}
