{{define "Sidebar"}}
<div style="overflow:auto">
    <div class="menu">
        <div class="menuitem"><a href="/admin/dashboard">Dashboard</a></div>
                <div class="menuitem"><a href="/admin/books">Books</a></div>
        {{/*        <div class="menuitem"><a href="#">Books</a></div>*/}}
        {{/*        <div class="menuitem"><a href="#">Articles</a></div>*/}}
        {{/*        <div class="menuitem"><a href="#">Journal</a></div>*/}}
        <div class="menuitem"><a href="/admin/user/list">Users</a></div>
        {{/*        <div class="menuitem"><a href="#">Managemen User</a></div>*/}}
        <div class="menuitem"><a href="/logout">Logout</a></div>

    </div>
    <div class="main">
        {{end}}
